{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.phronemophobic/membrane {:mvn/version "0.10.4-beta"
                                     ;; :local/root "../membrane2"
                                     }}
 :aliases
 {:project
  {:extra-deps
   {com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.9.31.0-beta"}}}}}
